* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    background-color: #fef9f6;

}

body {
    height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    border-bottom: 1px solid rgb(203, 201, 201);
}

header>.left {
    display: flex;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
}

header>.middle {
    display: flex;
    gap: 45px;
}

header>.middle>a {
    text-decoration: none;
    color: rgb(98, 97, 97);
    font-weight: 600;
}

header>.middle>a:hover {
    text-decoration: underline;
    color: black;
}

header>.right>button {
    height: 35px;
    width: fit-content;
    text-align: center;
    margin: 5px;
    padding: 10px 15px 30px 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
}

header>.right>button:hover {
    transform: scale(1.1);
}

.login {
    background: #f1f2f4;
}

.get {
    color: white;
    background: rgba(0, 0, 0, 0.833);
}

.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
}

.section1>h4 {
    font-weight: 600;
    color: rgb(46, 46, 46);
    line-height: 1.2em;
    background: #f1f2f4;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.section1>h1 {
    font-weight: 600;
    font-size: 80px;
    color: rgb(46, 46, 46);
    line-height: 1.2em;
}

.section1>h3 {
    font-weight: 100;
    color: #707070;
    ;
    line-height: 1.2em;
    margin-top: 30px;
}

.section1>button {
    opacity: 1;
    background-color: #2E2E2E;
    color: white;
    margin-top: 35px;
    padding: 16px 40px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
}

.section1>p {
    font-size: 12px;
    color: #6B6B78;
    margin-top: 5px;
}

.avatars {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.avatars>.images img {
    border-radius: 50%;
}

.avatars>.stars span {
    margin-right: 5px;
}

.avatars>.stars p {
    font-size: 13px;
    color: #6B6B78;
}

.checked {
    color: orange;
}

.section2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* background: blueviolet; */
}

.section2 img {
    width: 80%;
    opacity: 1;
    border: 1px solid #dfdede;
    border-radius: 16px;
    box-shadow: 0 4px 4px #0000000a;
}

.section3, .section4, .section5, .section6 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.section3{
    margin: 200px 250px 0px 250px;
}


.top {
    display: grid;
    place-items: center;
}

.top>h4 {
    font-weight: 600;
    color: rgb(46, 46, 46);
    line-height: 1.2em;
    background: #f1f2f4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
}

.top>h1 {
    font-weight: 600;
    font-size: 58px;
    color: rgb(46, 46, 46);
    line-height: 1.5em;
}

.bottom {
    display: flex;
    gap: 40px;
}

.bottom .left>h4 {
    font-weight: 600;
    color: rgb(46, 46, 46);
    line-height: 1.2em;
    background: #fee9cb;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
}

.bottom>.left>h2 {
    width: 600px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
}

.bottom>.left>p {
    margin-top: 60px;
    font-size: 20px;
    width: 580px;
    color: #707070
}

.bottom>.right {
    margin-top: -30px;
}

.bottom>.right>img {
    width: 600px;
}

.message{
    display: flex;
    height:100px;
}

.message>img{
    margin-top: 100px;
    height: 80px;
}

.message>p{
    line-height: 1.3em;
    margin-top: 40px;
    height: 110px;
    background: #2e2e2e;
    color:white;
    border-radius: 12px 12px 12px 4px;
    padding: 15px 15px 15px 15px;
}
.message>p>span{
    position: relative;
    top:10px;
    background: transparent;
    color:#8d8d9b;
}

.section4{
    margin: 200px 250px 0px 250px;
}

.section5{
    margin: 120px 250px 0px 250px;
}

.section6{
    margin: 90px 250px 0px 250px;
}

.section4>.bottom>.left>.message,.section6>.bottom>.left>.message{
    margin-left: 180px;
}
.section4>.bottom>.left>.message>p{
    width: 360px;
    border-radius: 12px 12px 4px 12px;
}

.section5>.bottom>.left>.message>p{
    height: 140px;
}

.section6>.bottom>.left>.message>p{
    width: 390px;
    border-radius: 12px 12px 4px 12px;
}

.section4>.bottom .left>h4{
    background: #cceafd;
}
.section5>.bottom .left>h4{
    background: #ddf4e4;
}
.section6>.bottom .left>h4{
    background: #fdded6;
}

.section7{
    height: 100vh;
    margin-top: 180px;
}

.section7>.top>h1{
    margin-top: 15px;
    line-height: 1.2em;
}


.bottom-cards{
    width: 100%;
    height: fit-content;
    /* background:  palegreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.card{
    width: 387px;
    height:400px;
    margin: 10px;
    margin-bottom: 80px;
    display: grid;
    gap: 25px;
}

.card>img{
    background: #f1f2f4;
    height: 265px;
    width: 100%;
    padding:40px 110px 40px 110px;
    border-radius: 16px;
}
.card-head{
    font-weight: 600;
    color: rgb(46, 46, 46);
    line-height: 1.2em;
    background: #f1f2f4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
}

.card>p{
    color: #747480;
}

#ci2{
    padding:40px 85px 40px 85px;
}
#ci3{
    padding:42px 58px 42px 58px;
}
#ci4{
    padding:50px 60px 50px 60px;
}
/* #ci5{
    padding:40px 110px 40px 110px;
} */
#ci6{
    padding:40px 100px 40px 100px;
}

#ch2{
   background:#fee9cb;
}
#ch3{
    background:#cceafd;
 }
 #ch4{
    background:#ddf4e4;
 }
 #ch5{
    background:#fdded6;
 }
 #ch6{
    background:#c39cf6;
 }